.Main {
  max-width: 1600px;
  max-width: 115rem;
  margin: 0 auto;
}

.Main > div {
  padding: 8rem 3rem 4rem;
  margin: 0;
}


/* ////////////////////////////////  Screen Sizes   //////////////////////////////// */

@media (max-width: 550px){
  .Main > div {
    padding: 6rem 1rem 4rem;
  }
}

@media (max-width: 450px){
  .Main > div {
    padding: 4rem 1rem 2rem;
  }
}

@media (max-width: 380px){
  .Main > div {
    padding: 4rem 0.5rem 2rem;
  }
}