.Main {
  position: relative;
  z-index: 2;
  max-width: 1600px;
  width: 80%;
  margin: 0 auto;
  padding-top: 20px;
  background: #ffffff14;
}

.Main > h2 {
  font-size: clamp(2rem, 5vw, 3rem);
  padding-left: 5%;
  margin-top: 0;
}