.Header{
    position: sticky;
    /* width: 100%; */
    height: 100vh;
    padding: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s;
    background: url(../../../public/images/software-computer-code-1940x900_35196.jpeg);
    background-size: cover;
    background-repeat: round;
    z-index: 10;
}

#logo{
  background: url(../../../public/logo.png);
  background-size: cover;
  background-repeat: round;
  width: 40%;
  height: 14%;
  background-color: #ffffff82;
  color: #fff;
  border: none;
  z-index: 1;
  cursor: pointer;
}

#arrow{
  display: inline-block;
  position: absolute;
  bottom: 35px;
  color: #ffffff;
  font-size: 50px;
  cursor: pointer;
  animation: downarrow 2s infinite;
}

.Header > nav {
  display: none;
  z-index: 1;
}

.Header > nav > ul {
  display: flex;
  align-items: center;
  margin: 0;
  transition: 0.25s;
  opacity: 0;
}

.list{
  list-style: none;
}

.list > a {
  color: #fff;
  display: inline-block;
  padding: 10px 15px;
  font-size: 1.2em;
  text-decoration: none;
}

.list > a:hover{
  color: rgb(238 186 58);
}

.list > .night:hover{
  color: rgb(34 150 243);
}

.sticky{
  height: 80px;
  align-items: normal;
  justify-content: space-between;
  background-repeat: no-repeat;
}

.sticky > #logo {
  margin-top: 10px;
  width: 15%;
  height: 75%;
}

.sticky > #arrow {
  display: none;
}

.sticky > nav {
  display: flex;
}

.sticky > nav > ul {
  opacity: 1;
  transition-delay: .75s;
}


/* /// Toggle //// */

#toggle{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    justify-content: space-around;
    padding: 0 25px;
}
  
.switch {
  position: relative;
  display: inline-block;
  height: 10px;
  width: 20px;
  transform: rotate(90deg);
  display: flex;
}
  
.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}
  
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ffff00ab;
  -webkit-transition: .4s;
  transition: .4s;
}
  
.slider:before {
  position: absolute;
  content: "";
  height: 10px;
  width: 10px;
  left: 1px;
  right: 1px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}
  
input:checked + .slider {
  background-color: #2196F3;
}
  
input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}
  
input:checked + .slider:before {
  -webkit-transform: translateX(12px);
  -ms-transform: translateX(12px);
  transform: translateX(12px);
}
  
.slider.round {
  border-radius: 34px;
}
  
.slider.round:before {
  border-radius: 50%;
}

@keyframes downarrow{
  from{
    bottom: 35px;
  }
  50% {
    bottom: 10px;
  }
  to{
    bottom: 35px;
  }
}
