.App {
  text-align: center;
  height: 100vh;
  background: #fafafaeb;
  /* background: radial-gradient(
    at 95% 15%,
    deepskyblue,
    deepskyblue,
    deepskyblue,
    deepskyblue,
    deepskyblue,
    #a6a6a6
  ); */
  overflow: scroll;
  scroll-behavior: smooth;
  -ms-overflow-style: none;
  scrollbar-width: none;
  transition: color, background 2s;
}

.App::-webkit-scrollbar {
  display: none;
}

.content-section {
  height: calc(101vh - (80px + 2rem));
  /* height: 100%; */
  overflow: scroll;
  scroll-behavior: smooth;
  -ms-overflow-style: none;
  scrollbar-width: none;
  color: #3c3c3ce3;
}


.content-section::-webkit-scrollbar {
  display: none;
}


.AppNight {
  color: white;
  background: #000e5e;
}

.content-section-dark {
  color: gainsboro;
  --horizontal: 4%;
  --vertical: 15%;
  --first: transparent;
  --second: transparent;
  --third: transparent;
  --fourth: transparent;
  --fifth: transparent;
  --sixth: transparent;

}

.background-layer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; 
  pointer-events: none; 
  /* Allow clicks to pass through the layer */
  background-color: rgb(43 114 175); 
}



