.App {
  text-align: center;
  height: 100vh;
  background: #fafafaeb;
  overflow-x: hidden;
  overflow-y: scroll;
  scroll-behavior: smooth;
  -ms-overflow-style: none;
  scrollbar-width: none;
  transition: color, background 2s;
}

.App::-webkit-scrollbar {
  display: none;
}

.AppNight {
  color: white;
  background: #282828;
}

.content-section {
  height: calc(101vh - (80px + 2rem));
  overflow-x: hidden;
  overflow-y: scroll;
  scroll-behavior: smooth;
  -ms-overflow-style: none;
  scrollbar-width: none;
  color: #3c3c3ce3;
}


.content-section::-webkit-scrollbar {
  display: none;
}



.content-section-dark {
  color: gainsboro;
}
