.App {
  text-align: center;
  height: 100vh;
  background: #fafafaeb;
  /* background: radial-gradient(
    at 95% 15%,
    deepskyblue,
    deepskyblue,
    deepskyblue,
    deepskyblue,
    deepskyblue,
    #a6a6a6
  ); */
  overflow: scroll;
  scroll-behavior: smooth;
  -ms-overflow-style: none;
  scrollbar-width: none;
  transition: color, background 2s;
}

.App::-webkit-scrollbar {
  display: none;
}

.content-section {
  height: calc(101vh - (80px + 4rem));
  padding: 1rem;
  overflow: scroll;
  scroll-behavior: smooth;
  -ms-overflow-style: none;
  scrollbar-width: none;
  color: #3c3c3ce3;
}


.content-section::-webkit-scrollbar {
  display: none;
}


.AppNight {
  color: white;
  background: #282828;
}

.content-section-dark {
  color: gainsboro;
}
